.footer {
    width: 100%;
    padding: 5rem 0;
    background-image: url("https://th.bing.com/th/id/OIP.yLJDpqVuBXbBTYvPSpRX2gAAAA?pid=ImgDet&w=207&h=137&c=7");
    background-repeat: no-repeat;
    
    color: #fff;
}

.footer h3 {
    color: var(--primary-light);
}

.footer .top, .bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer .social {
    display: flex;
    justify-content: center;
    width: 280px;
}

.footer .icon {
   color: var(--primary-light);
}

.footer .left, .right {
    display: flex;
    align-items: center;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: .5rem;
}

.footer .navitem {
    display : block;
}
@media screen and (max-width: 1140px) {
    .footer ul {
        flex-direction: column;
    }
}